*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

h1,p{
    text-align: center;
    color: rgb(255,255,255);
}

.tile-container{
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.1);
}

.tile-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    margin: 2em;
    grid-template-columns: repeat(5, 7rem);
}

.tile .active{
    object-fit: fill;
    border: 0.05em solid rgba(255,255,255);
    width: 100%;
    height: 90px;
}

.tile .inactive{
  /* background-color: rgba(255,255,255); */
  width: 100%;
  height: 90px;
}

.wrong-word-container{
    width: 300px;
    color: rgb(255,255,255);
    margin: 0 auto;
    margin-top: 1.5rem;
}

.wrong-word-container h2{
    text-align: center;
    margin-bottom: .7em;
}

.wrong-word-container ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.wrong-word-container ul li{
    margin: .2em;
    list-style: none;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.4);
    padding: .4em;
    border-radius: 8px;
}

.guess-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

.letter{
    width: 32px;
    margin-right: 18px;
    color: rgb(255,255,255);
    font-size: 2.5rem;
    text-align: center;
    border-bottom: .1em solid rgba(255,0,0,0.8);
}

.notification{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-top: 2rem;
    border-radius: 8px;
    padding: .8rem;
    color: rgba(255,255,255, 0.8);
    background-color: rgba(0,0,0, 0.8);;
}

.keyboard-container{
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
    margin-top: 24px;
  }

  .start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    grid-area: 1/16/2/5;
    border-radius: 8px;
    background-color: rgba(255,0,0,0.8);
    border: none;
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.start-button:hover{
    background-color: rgba(255,0,0,1.2);
    transform: scale(1.1);
}

  .key{
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,0,0,0.8);
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
  }

  .key:hover, .key:focus{
    background-color: rgba(255,0,0,1.2);
    transform: scale(1.1);
  }
  
  .key > svg{
    width: 1.7em;
    height: 1.75em;
  }


  .key.large{
    grid-column: span 3;
  }

  .popup-container{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup{
    background: rgba(255,0,0);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 600px;
    overflow: hidden;
  }

  .popup .btn-section{
    display: flex;
  }

  .popup .sensor{
    background-color: rgb(18,201,255);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: .4rem solid rgb(180,180,180);
    filter: drop-shadow(0 2px 3px rgb(0,0,0));
  }
  
  .popup .pokedex-light{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: drop-shadow(0 2px 3px rgb(0,0,0));
    margin: 0 8px;
  }

  .popup .pokedex-light:nth-child(2){
    background-color: rgb(255,0,0);
  }
  .popup .pokedex-light:nth-child(3){
    background-color: rgb(255,255,0);
  }
  .popup .pokedex-light:nth-child(4){
    background-color: rgb(0,255,0);
  }

  .popup-screen{
    background: rgb(240,240,240);
    border-radius: 5px;
    border: .7rem solid rgb(180,180,180);
    margin: 12px 0;
  }

  .popup img{
    max-width: 90%;
    filter: drop-shadow(0 5px 3px rgb(0,0,0));
  }
  
  .popup button {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    transition: transform .2s;
    border-radius: 8px;
  }
  
  .popup button:hover {
    transform: scale(1.1);
  }
  
  .popup button:focus {
    outline: 0;
  }
  
  @media (max-width: 670px){
    .tile-grid{
        gap: .5rem;
        margin: 2em;
        grid-template-columns: repeat(3, 6rem);
        padding: 1rem;
    }
  }