*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.container{
  text-align: center;
  margin-top: 20px;
}

h1,p{
  color: rgb(255,255,255);
}

.tile-container{
    display: grid;
    max-width: 700px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.tile-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    margin: 2rem;
    grid-template-columns: repeat(5, 7rem);
    padding: 1rem;
}

.tile .active{
    object-fit: fill;
    border: 0.05em solid rgba(255,255,255);
}
.tile .inactive{
  background-color: rgba(255,255,255);
}

.wrong-word-container{
  width: 300px;
  color: rgb(255,255,255);
}

.wrong-word-container h2{
  margin-bottom: 24px;
  text-align: left;
}

.wrong-word-container ul li{
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
}

.guess-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

.letter{
    width: 32px;
    margin-right: 18px;
    color: rgb(255,255,255);
    font-size: 32px;
    border-bottom: .1em solid rgba(255,0,0,0.8);
}

.keyboard-container {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
    margin-top: 24px;
  }

  .start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    grid-area: 1/16/2/5;
    border-radius: 8px;
    background-color: rgba(255,0,0,0.8);
    border: none;
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    grid-area: 1/16/2/5;
    border-radius: 8px;
    background-color: rgba(255,0,0,0.8);
    border: none;
    color: rgba(255, 255, 255);
    cursor: pointer;
    transition: transform .2s;
}

.start-button:hover{
    background-color: rgba(255,0,0,1.2);
    transform: scale(1.1);
}

  .key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,0,0,0.8);
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
  }

  .key:hover, .key:focus{
    background-color: rgba(255,0,0,1.2);
  }
  
  .key > svg{
    width: 1.7em;
    height: 1.75em;
  }


  .key.large {
    grid-column: span 3;
  }